

.wordspins {
    /* display: block; */
    /* transform: translateY(-20%); */
    color: red;
    animation : spin_words 5s  infinite  ;

}

@keyframes spin_words {
   
    0%{
        transform: translateY(100%);
    }
    25%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-120%);
    }
    75%{
        transform:  translateY(-220%);
    }
    100%{ 
        transform:  translateY(-320%);
    }


}