

.wordspin {
    
    display: block;
    color: red;
    animation : spain_words 7s   infinite  ;
    
    
}

@keyframes spain_words {
   
    0%{
        transform: translateY(80%);
    }
    25%{
        transform: translateY(2%);
    }
    50%{
        transform: translateY(-100%);
    }
    75%{
        transform:  translateY(-200%);
    }
    100%{ 
        transform:  translateY(-300%);
    }


}