.modal-outer{
    background-color: rgba(8, 8, 27, 0.7);
    
}
.modal-inner{
    background-color: #1E1E1E;
    transform: translateY(-1000px);
    /* transition:all 0.2s ease-in-out; */
    animation: movein 0.8s ease-out forwards;
}
@keyframes movein {
    100%{
        transform: translateY(0px);
    }
}


input:not(:placeholder-shown) ~ label,
input:focus ~ label
{
  transform: translateY(-20px);
  
}
textarea:not(:placeholder-shown) ~ label,
textarea:focus ~ label{
    transform: translateY(-50px);
}

@media (max-width: 768px) {
    .form-component input{
        padding: 0.25rem;
    }
}