
.content{
    
}
.wordspin {
    display: block;
    animation : spain_words 15s  infinite  ;
}

@keyframes spain_words {
   
    0%{
        transform: translateY(100%);
    }
    25%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    75%{
        transform:  translateY(-200%);
    }
    100%{ 
        transform:  translateY(-300%);
    }


}